{% load static %}

<section id="booking_search">
    <div class="container">
        <div id="search-inputs">
            <h2>Select the criteria you want:</h2>
            <div class="alert alert-danger" id="alert-message" role="alert"></div>
            <form>
                <table>
                    <tr>
                        <td>
                            <label for="capacity">How many persons: </label>
                        </td>
                        <td>
                            <select name="capacity" id="capacity">
                                <option value="2" selected>1 or 2</option>
                                <option value="4">3 or 4</option>
                                <option value="6">5 or 6</option>
                                <option value="8">7 or 8</option>
                                <option value="10">9 or 10</option>
                                <option value="12">11 or 12</option>
                                <option value="100">+12</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="disabled-access">Disabled access needed</label>
                        </td>
                        <td>
                            <input type="checkbox" id="disabled-access" name="disabled-access">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Table height: </label>
                        </td>
                        <td>
                            <label for="table-low">Low</label>
                            <input name="table-low" id="table-low" type="checkbox" checked>
                            <label for="table-std">Standard</label>
                            <input name="table-std" id="table-std" type="checkbox" checked>
                            <label for="table-high">High</label>
                            <input name="table-high" id="table-high" type="checkbox" checked>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Area: </label>
                        </td>
                        <td>
                            <label for="area-ext">Exterior</label>
                            <input name="area-ext" id="area-ext" type="checkbox" checked>
                            <label for="area-mai">Main Room</label>
                            <input name="area-mai" id="area-mai" type="checkbox" checked>
                            <label for="area-up">Up-stair</label>
                            <input name="area-up" id="area-up" type="checkbox" checked>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Time: </label>
                        </td>
                        <td>
                            <label for="time-lunch">Lunch</label>
                            <input name="time-lunch" id="time-lunch" type="checkbox" checked>
                            <label for="time-dinner">Dinner</label>
                            <input name="time-dinner" id="time-dinner" type="checkbox" checked>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <hr>
        <div id="search-results">
            <h2>Availble dates with your criteria:</h2>
            <table id="dates-list">
            </table>
        </div>
        <!-- MODAL FOR BOOKING DETAILS -->
        <div class="modal fade" id="booking_details" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="booking_detailsLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="booking_detailsLabel">Booking Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <div id="details_datetime">
                            <p><span id="details_date"></span></p>
                            <p><span id="details_capacity"></span> persons</p>
                            <p><span id="details_time"></span></p>
                        </div>
                        <hr>
                        <div id="details_choose_table">
                            <h4>Choose a table:</h4>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="details_locked_table">
                                <label class="form-check-label" for="details_locked_table">
                                    Table asked by the client
                                </label>
                            </div>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Ref.</th>
                                        <th scope="col">Capacity</th>
                                        <th scope="col">Area</th>
                                        <th scope="col">Table Height</th>
                                        <th scope="col">Ok for disabled</th>
                                    </tr>
                                </thead>
                                <tbody id="details_tables" >
                                </tbody>
                            </table>
                        </div>
                        <hr>
                        <div id="details_client">
                            <h4>Client:</h4>
                            <div id="details_alert" class="alert alert-danger d-none" role="alert">
                                This client is not welcome!
                            </div>
                            <div id="phone_number">
                                <label><input type="checkbox" id="details_foreign_num"> Is foreign number</label>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" list="phone_list" id="details_phone" placeholder="Phone Number" autocomplete="off" required>
                                    <label for="details_phone">Phone Number</label>
                                    <!-- <datalist id="phone_list">
                                        <!- Option come from javascript regarding the first digits typed in the phone field ->
                                    </datalist> -->
                                </div>
                                <div id="phone_matchers" class="overflow-scroll">
                                    <ul id="phone_matchers_list">

                                    </ul>
                                </div>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="details_first" placeholder="First Name" autocomplete="off" required>
                                <label for="details_first">First Name</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="details_last" placeholder="Last Name" autocomplete="off">
                                <label for="details_last">Last Name</label>
                            </div>
                        </div>
                        <hr>
                        <div class="mb-3">
                            <label for="details_note" class="form-label">Note:</label>
                            <textarea class="form-control" id="details_note" rows="3" placeholder="If necessary, place a note here..."></textarea>
                        </div>
                        <div class="modal-footer col justify-content-between">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" list="staff_list" id="details_booker" placeholder="Type your short-name" required>
                                <label for="details_phone">Booking creator: </label>
                                <datalist id="staff_list">
                                    {% for employee in staffActive %}
                                        <option data-staff_id='{{ employee.id }}' value='{{ employee.short_name }}'>{{ employee.first_name }} {{ employee.last_name }}</option>
                                    {% endfor %}
                                </datalist>
                            </div>
                            <div>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button id="book_btn" type="submit" class="btn btn-primary">BOOK</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>

<!-- Successfull Booking Pop Up  -->
<div id="successfull_pop-up" class="d-none">
    <div class="text-center">
        <span>Booking made successfully</span>
    </div>
</div>

<script src="{% static 'booking/booking.js' %}"></script>