{% extends "booking/layout.html" %}
{% load static %}

{% block body %}
<section id="extra-date">
    <div class="container-sm">
        <div id="opened-weekdays">
            <!-- Visible part -->
            <div>
                <div class="d-flex justify-content-between mb-2">
                    <h2>The restaurant is opened on:</h2>
                    <!-- Button trigger modal -->
                    <button type="button" id="change-wdays-btn" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#weekdays_edit">
                        Change
                    </button>
                </div>
                <table class="table table-light">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Lunch</th>
                            <th>Dinner</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for day in weekdays %}
                            <tr>
                                <th>{{ day.weekday }}</th>
                                <th>{% if day.at_lunch %}✔️{% else %} - {% endif %}</th>
                                <th>{% if day.at_dinner %}✔️{% else %} - {% endif %}</th>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- Pop up MODAL "Change" part -->
            <div class="modal fade" id="weekdays_edit" tabindex="-1" aria-labelledby="weekdays_editLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h3 class="modal-title" id="weekdays_editLabel">Edit Opening Weekdays</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/weekday_update" method="POST" data-existing_days="{{ weekdays }}">
                            {% csrf_token %}
                            <table class="table table-light">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Lunch</th>
                                        <th>Dinner</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id="monday">
                                        <th>Monday</th>
                                        <th><input class="lunch" type="checkbox" name="mon-lun"
                                            {% if weekdays.0.at_lunch %} checked{% endif %}
                                            ></th>
                                        <th><input class="dinner" type="checkbox" name="mon-din"
                                            {% if weekdays.0.at_dinner %} checked{% endif %}
                                            ></th>
                                    </tr>
                                    <tr id="tuesday">
                                        <th>Tuesday</th>
                                        <th><input class="lunch" type="checkbox" name="tue-lun"
                                            {% if weekdays.1.at_lunch %} checked{% endif %}
                                            ></th>
                                        <th><input class="dinner" type="checkbox" name="tue-din"
                                            {% if weekdays.1.at_dinner %} checked{% endif %}
                                            ></th>
                                    </tr>
                                    <tr id="wednesday">
                                        <th>Wednesday</th>
                                        <th><input class="lunch" type="checkbox" name="wed-lun"
                                            {% if weekdays.2.at_lunch %} checked{% endif %}
                                            ></th>
                                        <th><input class="dinner" type="checkbox" name="wed-din"
                                            {% if weekdays.2.at_dinner %} checked{% endif %}
                                            ></th>
                                    </tr>
                                    <tr id="thursday">
                                        <th>Thursday</th>
                                        <th><input class="lunch" type="checkbox" name="thu-lun"
                                            {% if weekdays.3.at_lunch %} checked{% endif %}
                                            ></th>
                                        <th><input class="dinner" type="checkbox" name="thu-din"
                                            {% if weekdays.3.at_dinner %} checked{% endif %}
                                            ></th>
                                    </tr>
                                    <tr id="friday">
                                        <th>Friday</th>
                                        <th><input class="lunch" type="checkbox" name="fri-lun"
                                            {% if weekdays.4.at_lunch %} checked{% endif %}
                                            ></th>
                                        <th><input class="dinner" type="checkbox" name="fri-din"
                                            {% if weekdays.4.at_dinner %} checked{% endif %}
                                            ></th>
                                    </tr>
                                    <tr id="saturday">
                                        <th>Saturday</th>
                                        <th><input class="lunch" type="checkbox" name="sat-lun"
                                            {% if weekdays.5.at_lunch %} checked{% endif %}
                                            ></th>
                                        <th><input class="dinner" type="checkbox" name="sat-din"
                                            {% if weekdays.5.at_dinner %} checked{% endif %}
                                            ></th>
                                    </tr>
                                    <tr id="sunday">
                                        <th>Sunday</th>
                                        <th><input class="lunch" type="checkbox" name="sun-lun"
                                            {% if weekdays.6.at_lunch %} checked{% endif %}
                                            ></th>
                                        <th><input class="dinner" type="checkbox" name="sun-din"
                                            {% if weekdays.6.at_dinner %} checked{% endif %}
                                            ></th>
                                    </tr>
                                </tbody>
                            </table>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
                </div>
            </div>
        </div>

        <hr>

        <div id="date-list">
            <!-- invisible until dates with bookings are deleted -->
            <div id="date-booking-conflits" class="d-none">
                <h3>Orphelin bookings (on deleted special dates)</h3>
                <hr>
            </div>
            <!-- visible part -->
            <div>
                <div class="d-flex justify-content-between mb-2">
                    <h2>Special dates list</h2>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add_dates">
                        Add Date(s)
                    </button>
                </div>
                
                <table class="table table-light">
                    <thead>
                        <tr>
                            <td>Date</td>
                            <td>Lunch</td>
                            <td>Dinner</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for date in dates %}
                            <tr
                            {% if not date.at_lunch and not date.at_dinner %}
                                class="date_fully_closed"
                            {% endif %}>
                                <td>{{ date.date|date:"d M Y - D" }}</td>
                                <td>
                                    {% if date.at_lunch %} ✔️ {% else %} - {% endif %}
                                </td>
                                <td>
                                    {% if date.at_dinner %} ✔️ {% else %} - {% endif %}
                                </td>
                                <td><button class="btn btn-sm btn-danger date_delete"
                                    type="button"
                                    data-date_id='{{ date.id }}' 
                                    data-date='{{ date.date|date:"Y-m-d" }}' 
                                    data-times='[ 
                                    {% if date.at_lunch %}
                                        "lunch",
                                    {% endif %}
                                    {% if date.at_dinner %}
                                        "dinner"
                                    {% endif %}
                                    ]'>Remove</button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
            <p> </p>

            <!-- pop up MODAL  "Add date" part -->
            <div class="modal fade" id="add_dates" tabindex="-1" aria-labelledby="add_datesLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h4 class="modal-title" id="add_datesLabel">Enter the special date(s)</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body d-flex justify-content-center">
                        <form action="/date_special" method="POST">
                            {% csrf_token %}
                            <table>
                                <tr>
                                    <td colspan="2" class="text-start">
                                        <ul>
                                            <li><label for="single_day">
                                                <input type="radio" name="period" value="no" id="single_day" class="period_radio" checked>
                                                Single day</label>
                                            </li>
                                                <li><label for="period">
                                                <input type="radio" name="period" value="yes" id="period" class="period_radio">
                                                Period</label>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="date" id="date_label">Date</label>
                                    </td>
                                    <td>
                                        <input type="date" id="date" name="date" value="{{ today|date:'Y-m-d' }}" min="{{ today|date:'Y-m-d' }}">
                                        <span class="weekday_display">{{ today|date:"l" }}</span>
                                    </td>
                                </tr>
                                <tr id="date_end_row">
                                    <td>
                                        <label for="date_end" id="date_end_label">To</label>
                                    </td>
                                    <td>
                                        <input type="date" id="date_end" name="date_end" value="{{ today|date:'Y-m-d' }}" min="{{ today|date:'Y-m-d' }}">
                                        <span class="weekday_display">{{ today|date:"l" }}</span>
                                    </td>
                                </tr>
                                <tr class='mt-2'>
                                    <td colspan="2" class="text-start"><h5>Opening times: </h5></td>
                                </tr>
                                {{ date_form }}
                            </table>
                            <button class="btn btn-primary float-end" type="submit">Add</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="{% static 'booking/date.js' %}"></script>

{% endblock %}