{% load static %}

<section id="extra-date">
    <div class="container">

        <div id="opened-weekdays">
            <!-- Visible part -->
            <div>
                <h2>The restaurant is opened on:</h2>
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Lunch</th>
                            <th>Dinner</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for day in weekdays %}
                            <tr>
                                <th>{{ day.weekday }}</th>
                                <th>{% if day.is_opened_lunch %}✔️{% else %} - {% endif %}</th>
                                <th>{% if day.is_opened_dinner %}✔️{% else %} - {% endif %}</th>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!-- Button trigger modal -->
                <button type="button" id="change-wdays-btn" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#weekdays_edit">
                    Change
                </button>
            </div>
            <!-- Pop up "Change" part -->
            <div class="modal fade" id="weekdays_edit" tabindex="-1" aria-labelledby="weekdays_editLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h3 class="modal-title" id="weekdays_editLabel">Edit Opening Weekdays</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/weekday_update" method="POST" data-existing_days="{{ weekdays }}">
                            {% csrf_token %}
                            <table>
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Lunch</th>
                                        <th>Dinner</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- SUPPRIMER LE ID CI DESSOUS SI NON UTILISE -->
                                    <tr id="monday">
                                        <th>Monday</th>
                                        <th><input class="lunch" type="checkbox" name="mon-lun"
                                            {% if weekdays.0.is_opened_lunch %} checked{% endif %}
                                            ></th>
                                        <th><input class="dinner" type="checkbox" name="mon-din"
                                            {% if weekdays.0.is_opened_dinner %} checked{% endif %}
                                            ></th>
                                    </tr>
                                    <tr id="tuesday">
                                        <th>Tuesday</th>
                                        <th><input class="lunch" type="checkbox" name="tue-lun"
                                            {% if weekdays.1.is_opened_lunch %} checked{% endif %}
                                            ></th>
                                        <th><input class="dinner" type="checkbox" name="tue-din"
                                            {% if weekdays.1.is_opened_dinner %} checked{% endif %}
                                            ></th>
                                    </tr>
                                    <tr id="wednesday">
                                        <th>Wednesday</th>
                                        <th><input class="lunch" type="checkbox" name="wed-lun"
                                            {% if weekdays.2.is_opened_lunch %} checked{% endif %}
                                            ></th>
                                        <th><input class="dinner" type="checkbox" name="wed-din"
                                            {% if weekdays.2.is_opened_dinner %} checked{% endif %}
                                            ></th>
                                    </tr>
                                    <tr id="thursday">
                                        <th>Thursday</th>
                                        <th><input class="lunch" type="checkbox" name="thu-lun"
                                            {% if weekdays.3.is_opened_lunch %} checked{% endif %}
                                            ></th>
                                        <th><input class="dinner" type="checkbox" name="thu-din"
                                            {% if weekdays.3.is_opened_dinner %} checked{% endif %}
                                            ></th>
                                    </tr>
                                    <tr id="friday">
                                        <th>Friday</th>
                                        <th><input class="lunch" type="checkbox" name="fri-lun"
                                            {% if weekdays.4.is_opened_lunch %} checked{% endif %}
                                            ></th>
                                        <th><input class="dinner" type="checkbox" name="fri-din"
                                            {% if weekdays.4.is_opened_dinner %} checked{% endif %}
                                            ></th>
                                    </tr>
                                    <tr id="saturday">
                                        <th>Saturday</th>
                                        <th><input class="lunch" type="checkbox" name="sat-lun"
                                            {% if weekdays.5.is_opened_lunch %} checked{% endif %}
                                            ></th>
                                        <th><input class="dinner" type="checkbox" name="sat-din"
                                            {% if weekdays.5.is_opened_dinner %} checked{% endif %}
                                            ></th>
                                    </tr>
                                    <tr id="sunday">
                                        <th>Sunday</th>
                                        <th><input class="lunch" type="checkbox" name="sun-lun"
                                            {% if weekdays.6.is_opened_lunch %} checked{% endif %}
                                            ></th>
                                        <th><input class="dinner" type="checkbox" name="sun-din"
                                            {% if weekdays.6.is_opened_dinner %} checked{% endif %}
                                            ></th>
                                    </tr>
                                </tbody>
                            </table>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
                </div>
            </div>
        </div>

        <hr>

        <div id="date-list">
            <!-- visible part -->
            <div>
                <h2>Special dates list</h2>
                <table class="table table-light">
                    <thead>
                        <tr>
                            <td>Date</td>
                            <td>Open / Close</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for date in dates %}
                            <tr>
                                <td>{{ date.date|date:"D d M Y" }}</td>
                                <td>{{ date.state }}</td>
                                <td><button class="btn btn-sm btn-primary" type="button">Remove</button></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add_dates">
                Add Date(s)
            </button>

            <!-- pop up "Add date" part -->
            <div>
                <!-- Modal -->
                <div class="modal fade" id="add_dates" tabindex="-1" aria-labelledby="add_datesLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="add_datesLabel">Enter the special date(s)</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/date_special">
                                <table>
                                    <tr>
                                        <td colspan="2">
                                            <ul>
                                                <li><label for="single_day">
                                                    <input type="radio" name="period" value="no" id="single_day" class="period_radio" checked>
                                                    Single day</label>
                                                </li>
                                                    <li><label for="period">
                                                    <input type="radio" name="period" value="yes" id="period" class="period_radio">
                                                    Period</label>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="date" id="date_label">Date</label>
                                        </td>
                                        <td>
                                            <input type="date" id="date" name="date" value="{{ today|date:'Y-m-d' }}" min="{{ today|date:'Y-m-d' }}">
                                            <span class="weekday_display">{{ today|date:"l" }}</span>
                                        </td>
                                    </tr>
                                    <tr id="date_end_row">
                                        <td>
                                            <label for="date_end" id="date_end_label">To</label>
                                        </td>
                                        <td>
                                            <input type="date" id="date_end" name="date_end" value="{{ today|date:'Y-m-d' }}" min="{{ today|date:'Y-m-d' }}">
                                            <span class="weekday_display">{{ today|date:"l" }}</span>
                                        </td>
                                    </tr>
                                    {{ date_form }}
                                </table>
                                <button class="btn btn-primary" type="submit">Add</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div id="date-add">

        </div>

        <hr>

        <div id="date-booking-conflits">

        </div>
        
    </div>
</section>

<script src="{% static 'booking/date.js' %}"></script>