<section id="table">
    <div class="container">
        <div id="existing-tables">
            <h2>Existing tables</h2>
            
            <table data-tables_data="{{ tables_data }}">
                {% regroup tables by get_area_display as area_list %}
                {% for area,tables_in_area in area_list %}
                    <tr><th colspan="2">{{ area }}</th><td></td><td></td></tr>
                    {% for table in tables_in_area %}
                        <tr>
                            <th></th>
                            <td><button type="button" class="btn btn-sm btn-warning edit-table" data-table_id="{{ table.id }}" data-bs-toggle="modal" data-bs-target="#edit_section">Edit</button></td>
                            <td class="center-cell">{{ table }}</td>
                            <td><button type="button" class="btn btn-sm btn-warning delete-table" data-table_id="{{ table.id }}">Delete</button></td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </table>

        <!-- Modal -->
        <div class="modal fade" id="edit_section" tabindex="-1" aria-labelledby="edit_section_label" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="edit_section_label">Edit Table</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'table' %}" method="PUT">
                        {% csrf_token %}
                        <table>
                            {{ table_form.as_table }}
                        </table>
                        <input  type="submit" value="Update table">
                    </form>
                </div>
            </div>
            </div>
        </div>

        <hr>

        </div>
        <div id="create-table">
            <h2>Create tables</h2>

            <form action="{% url 'table' %}" method="POST">
                {% csrf_token %}
                <table>
                    {{ table_form.as_table }}
                </table>
                <input type="submit" value="Create table">
            </form>
        </div>
    </div>
</section>