* {
    box-sizing: border-box;
}

body {
    background-color: #E2E986;
    font-family: 'Amatic SC', cursive;
}

:root {
    font-size: 16px;
    --navbar-height: 2.5rem;
}

section {
    padding-top: var(--navbar-height);
}

.container {
    width: 90%;
}

.navbar-expand {
    height: var(--navbar-height);
}

.navbar-toggler {
    font-size: xx-small;
}

.navbar img {
    height: 5vh;
}

#presentation {
    height: 100vh;
}

#block-logo img {
    width: 100%;
    margin: 3rem auto;
}

strong {
    font-size: 1.1rem;
    color: rgb(139, 15, 15);
    display: block;
    width: 100%;
    text-align: center;
}

table {
    font-size: 0.90rem;
    text-align: center;
}

thead {
    border-bottom: 2px solid black;
}

.available {
    margin: 2rem auto;
}

iframe {
    width: 100%;
    height: auto; 
}

.non-active {
    text-decoration-line: line-through;
}

/* TABLES MANAGEMENT PAGE */
.edit-table, .delete-table {
    color:rgb(27, 126, 32);
}

.edit-table:hover, .delete-table:hover {
    cursor: pointer;
    color:hotpink;
}

.hidden {
    display: none;
}

#existing-tables th {
    font-size: 0.9rem;
    font-weight: normal;
    text-align: left;
    margin: 0;
    width: 4em;
}

#existing-tables button {
    font-size: 0.7rem;
    padding: 0;
    width: 4em;
}

.center-cell {
    width: 10em;
    /* padding: 0 4em; */
}

.alert-danger {
    opacity: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.85rem;
}

/* DATE SPECIAL PAGE */
#add_dates ul {
    margin: 0;
}

#add_dates li {
    list-style: none;
    display: inline;
    margin-left: 1em;
}

#date_end_row {
    opacity: 0;
}

.weekday_display {
    display: inline-block;
    width: 4em;
}

.date_fully_closed td{
    background-color: rgb(247, 199, 199);
}

#date-booking-conflits {
    background-color: rgb(223, 86, 86);
    color: black;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}
}

/* BOOKING PAGE */

#details_choose_table td, #details_choose_table th {
    text-align: left;
}

#successfull_pop-up {
    z-index: 4000;
    background-color: lightgreen;
    color: black;
    padding-top: 30vh;
    font-size: 10vh;
    height: 80vh;
    width: 100vw;
    position: fixed;
    top: 10vw;
    bottom: 40vh;
}

#phone_matchers{
    display: none;
    height: 8rem;
    position: relative;
    top: -1rem;
    z-index: 1000;
    background-color: rgb(202, 233, 202);
    width: 100%;
}

#phone_matchers_list {
    list-style: none;
    padding-left: .75rem;
}

.clickable:hover {
    cursor: pointer;
    text-decoration: underline;
    background-color: rgba(233, 198, 134, 0.5);
}